@using FluentBootstrap
@using PerpetuumSoft.Knockout
@model WGS.ViewModels.AddQuestionsToExamViewModel
@{
    ViewBag.Title = "AddQuestion";
    var ko = Html.CreateKnockoutContext();
    AjaxOptions options = new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "AddChoicesDiv"};
}

<h2>Add new question</h2>

@using (Ajax.BeginForm(controllerName: "Questions", actionName: "AddQuestion", ajaxOptions: options))
{
    @Html.Bootstrap().EditorFor(e=>e.QuestionText)
    @Html.Bootstrap().Submit("Add")
}

<div id="AddChoicesDiv" class="container-fluid">
    
</div>